[Unit]
Description=Run script at startup after network becomes reachable
After=getty.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/dock.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
